<section fxLayout="column" fxLayoutAlign="center center">

    <h3>How was your trip?</h3>
    <p>Please rate us on scale from 1 to 10</p>
    <p>(Your mark will help us to become better in future) </p>
    <h4>Thank you !</h4>

    <form action="">
        <mat-form-field appearance="fill">
            <mat-label>Rate Us:</mat-label>
            <select matNativeControl required>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="4">5</option>
              <option value="4">6</option>
              <option value="4">7</option>
              <option value="4">8</option>
              <option value="4">9</option>
              <option value="4">10</option>
            </select>
        </mat-form-field>
        <mat-dialog-actions>
            <button type="submit" mat-button mat-dialog-close>Save</button>
            <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
            <button mat-button [mat-dialog-close]="true">Cancel</button>
        </mat-dialog-actions>
    </form>




</section>