<section fxLayoutAlign="center center" fxLayoutGap="2%" style="margin-top: 1.5%;">
    <p class="signupTitle" fxHide.xs fxHide.sm >Signup</p>
    <form class="form" #f="ngForm" (ngSubmit)="onSubmit(f)" fxLayoutAlign="center center" fxLayout="column">

        
        <mat-form-field appearance="fill" >
            <mat-label>Forname</mat-label>
            <input matInput required ngModel name="forname" #forname="ngModel">
            <mat-error *ngIf="forname.hasError('required')">The field should not be empty</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Surname</mat-label>
            <input matInput required ngModel name="surname" #surname="ngModel">
            <mat-error *ngIf="surname.hasError('required')">The field should not be empty</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input type="email" matInput required ngModel name="email" #emailInput="ngModel">
            <mat-error *ngIf="emailInput.hasError('required')">The field should not be empty</mat-error>
            <mat-error *ngIf="!emailInput.hasError('required')">Enter the correct mail format</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" hintLabel="Max 10 characters">
            <mat-label>Password</mat-label>
            <input type="password" matInput required #password="ngModel" ngModel name="password">
            <mat-hint align="end">{{password.value?.length || 0}}/10</mat-hint>
            <mat-error *ngIf="password.hasError('required')">The field should not be empty</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Phone number</mat-label>
            <input matInput required ngModel name="number" #phoneNumber="ngModel">
            <mat-error *ngIf="phoneNumber.hasError('required')">The field should not be empty</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Address</mat-label>
            <input matInput required ngModel name="address" #address="ngModel">
            <mat-error *ngIf="address.hasError('required')">The field should not be empty</mat-error>
        </mat-form-field>
        <mat-checkbox  ngModel name="checkbox" required #checkbox="ngModel">
            <p class="termsConditions"> I accept the terms and conditions</p>
        </mat-checkbox>
        <mat-error style="margin-bottom: 2%;" *ngIf="checkbox.hasError('required')">The field should not be empty</mat-error>
        
        <button class="signup" type="submit" mat-raised-button color="warn" [disabled]="f.invalid || passwordLength(password.value?.length)"> Signup ! </button>
        <p>or</p>
        <button class="goToLogin" type="submit" mat-button> Go to login ! </button>
        <p style="color:green;">{{ messageGood }}</p>
        <p style="color:red;">{{ messageError }}</p>
    </form>
    

</section>