<section fxLayoutAlign="center center" fxLayoutGap="2%" style="margin-top: 10%;">
    <p class="loginTitle" fxHide.xs  fxHide.sm >Login</p>
    
    <form  #f="ngForm" (ngSubmit)="onSubmit(f)" fxLayoutAlign="center center" fxLayout="column" >
       
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input ngModel name="email" type="email" matInput #emailInput="ngModel" placeholder="Ex. savic.marko90@gmail.com" required>
            <mat-error *ngIf="emailInput.hasError('required')">The field should not be empty</mat-error>
            <mat-error *ngIf="!emailInput.hasError('required')">Enter the correct mail format</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" hintLabel="Max 10 characters">
            <mat-label>Password</mat-label>
            <input ngModel name="password" matInput required  #password="ngModel" type="password">
            <mat-hint align="end">{{password.value?.length || 0}}/10</mat-hint>
            <mat-error *ngIf="password.hasError('required')">The field should not be empty</mat-error>
        </mat-form-field>
        <button class="submitButton" type="submit" [disabled]="f.invalid || passwordLength(password.value?.length) " mat-raised-button color="primary" > Login ! </button>
        <i>or</i>
        <button type="submit" mat-button class="goToSignUp"> Go to signup ! </button>
    </form>
</section>
