<section fxLayoutAlign="center center">

    <div class="container" action="/trips" fxFlex="70%" fxLayout="column" fxLayoutGap="30px">

        <header>
            <p class="welcomeTitle" fxLayoutAlign="center" >Welcome to travel agency
            </p>
            <p class="welcomeSubtitle" fxLayoutAlign="center">
                Where travel becomes an unforgetable advanture</p>
        </header>
        <div fxLayout="column" fxLayoutAlign="center center">
            <a class=" button1" *ngIf="userStatus" routerLink="/trips" mat-raised-button color="primary" fxLayoutAlign="center center">
                <mat-icon>search</mat-icon>Find your travel
            </a>
            <a class="buttons" *ngIf="!userStatus" routerLink="/login" mat-raised-button color="primary"  fxLayoutAlign="center center">
                <mat-icon>login</mat-icon>Login !
            </a>
            <a class="buttons" *ngIf="!userStatus" routerLink="/signup" mat-raised-button color="primary"
                fxLayoutAlign="center center">
                <mat-icon>account_circle</mat-icon>Signup !
            </a>
        </div>
    </div>


</section>