.buttons{

    height:50px;
    width:30%;
    font-size: 15pt;
    margin-top: 3%;
}
.button1{
    height:50px;
    width:30%;
    font-size: 15pt;
    margin-top: 3%;
}


@media only screen and (max-width: 621px) {
 
    .buttons{

        width: 17vh;
    }
   


}
@media only screen and (max-width: 1031px) {
 
   
    .button1{
        width: 25vh;
    }


}