<section fxLayoutAlign="center center">

    <div  action="/trips" fxFlex="70%"  fxLayout="column" fxLayoutGap="30px" style="background-color:none; margin-top: 5%;">
        
            <header>
                <p fxLayoutAlign="center" style="font-size: 40pt; font-weight: bold;">Welcome to travel agency</p>
                <p fxLayoutAlign="center" style="font-size: 18pt; font-family: 'Dancing Script', cursive;">Where travel becomes an unforgetable advanture</p>
            </header>
            <div fxLayout="column" fxLayoutAlign="center center">
                <a routerLink="/trips" mat-raised-button color="primary" style="height:50px;width:30%;font-size: 15pt;"  fxLayoutAlign="center center"><mat-icon style="margin-right:10px;">search</mat-icon>Find your travel</a>
            </div>
        </div >


</section>