<mat-sidenav-container>

  <mat-sidenav [opened]="true" #sidenav>

    <section fxLayout="column" fxLayoutAlign="start">
      <mat-list role="list" fxLayoutGap="15px">
        <mat-list-item role="listitem" routerLink="/" (click)="sidenav.close()">
          <mat-icon>home</mat-icon>
          <p>Welcome</p>
        </mat-list-item>
        <mat-list-item role="listitem" routerLink="/trips" (click)="sidenav.close()">
          <mat-icon>flights</mat-icon>
          <p>Trips</p>
        </mat-list-item>
        <mat-list-item role="listitem" routerLink="/login" (click)="sidenav.close()">
          <mat-icon>login</mat-icon>
          <p>Login</p>
        </mat-list-item>
        <mat-list-item role="listitem" routerLink="/signup" (click)="sidenav.close()">
          <mat-icon>how_to_reg</mat-icon>
          <p>Signup</p>
        </mat-list-item>
        <mat-list-item *ngIf="profile.isLogedIn" role="listitem" routerLink="/profile" (click)="sidenav.close()">
          <mat-icon>person</mat-icon>
          <p>Profile</p>
        </mat-list-item>
        <mat-list-item *ngIf="profile.isLogedIn" role="listitem" (click)="sidenav.close()">
          <mat-icon>logout</mat-icon>
          <p>Logout</p>
        </mat-list-item>

      </mat-list>

    </section>



  </mat-sidenav>
  <mat-sidenav-content >
    <div id="background" style="height: 93.4% ;">
      <mat-toolbar color="primary" fxLayoutGap="10px">

      <button mat-raised-button color="accent" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>
        <a routerLink="" style="font-size: 20pt; font-weight: bold;">Travel App</a>
      </span>


      <span fxFlex fxLayoutAlign="end" fxLayoutGap="2%" fxHide.xs>

        <a routerLink="">Welcome</a>
        <a routerLink="/trips">Trips</a>
        <a routerLink="/signup">Signup</a>
        <a routerLink="/login">Login</a>
        <a *ngIf="profile.isLogedIn" routerLink="/profile">Profile</a>
        <a *ngIf="profile.isLogedIn" routerLink="/logout">Logout</a>

      </span>

    </mat-toolbar>
    
      <p fxLayoutAlign="center center" fxLayout="row" style="color:red; font-weight: bold;" *ngIf="!profile.isLogedIn">To proceed, you need to signup or login first </p>
    <router-outlet></router-outlet>
    </div>
    

    <div>
      <mat-toolbar id="firm" color="primary" fxLayoutAlign="center center">

        Midusa software development studio
      
      </mat-toolbar>
    </div>
    

  </mat-sidenav-content>

</mat-sidenav-container>
