#background{
    
    background-image: url("../assets/images/background.png");  
    background-size: "100%" ;  
    background-size: cover; 
}

.logo{
    font-size: 20pt;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: azure;

}


mat-list-item {
    font-size: "30pt";
}

#firm{

    font-family: 'Dancing Script', cursive;
    height: 50px;

}

.warning{
   color:red;
   font-weight: bold;
}

@media only screen and (max-width: 500px) {
 
    mat-sidenav{
        width: 15vh;
    }

    mat-sidenav-content p{
        font-size: 8pt;
    }
    


}