<h1 fxLayoutAlign="center center">Finished trips</h1>

<section style="padding: 1%;">

    <div id="trip" *ngFor="let finishedTrip of finishedTrips" fxLayout="row" fxLayoutGap="5%" style="padding: 2%;border-bottom: 0.5px solid rgb(88, 88, 88);">

        <img src="../{{finishedTrip.travels.picture_path}}" alt="picture" height="70px" width="70px"
            style="border-radius: 50%;">
        <h3>{{finishedTrip.travels.destination}} for
            {{finishedTrip.travels.price}} € </h3>

        <h4>{{finishedTrip.travels.time.getDate}} in duration of
            {{finishedTrip.travels.duration}} days</h4>
        <h4 fxHide.xs  fxHide.sm  fxHide.md> Status: <div style="color:red">{{finishedTrip.status}}</div>
        </h4>
        <h4 fxHide.xs  fxHide.sm  fxHide.md>Traveling by: {{finishedTrip.travels.travel_type}}</h4>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15%">
            <mat-icon style="color:blue " (click)="rateTrip()"> note_add</mat-icon>
            <mat-icon style="color:red;" (click)="deleteTripDialog(finishedTrip.id)">cancel</mat-icon>
        </div>
    </div>
    
</section>