<h1  fxLayoutAlign="center center">Canceled trips</h1>

<section style="padding: 1%;">

    <div #canceledTrips *ngFor="let canceledTrip of canceledTrips" id="trip" fxLayout="row" fxLayoutGap="5%" style="padding: 2%;border-bottom: 0.5px solid rgb(88, 88, 88);" >

        <img src="../{{canceledTrip.travels.picture_path}}" alt="picture" height="70px" width="70px"
            style="border-radius: 50%;">
        <h3 >{{canceledTrip.travels.destination}} for
            {{canceledTrip.travels.price}} € </h3>
            
        <h4 >{{canceledTrip.travels.time.getDate}} in duration of
            {{canceledTrip.travels.duration}} days</h4>
        <h4 fxHide.xs  fxHide.sm  fxHide.md> Status: <div style="color:red">{{canceledTrip.travels.status}}</div></h4>
        <h4 fxHide.xs  fxHide.sm  fxHide.md>Traveling by: {{canceledTrip.travels.travel_type}}</h4>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15%">
            <mat-icon style="color:red;" (click)="deleteTripDialog(canceledTrip.id)">cancel</mat-icon>
        </div>
    </div>
</section>
