<h1  fxLayoutAlign="center center">Canceled trips</h1>

<section style="padding: 1%;">

    <div *ngFor="let canceledTrip of canceledTrips" id="trip" fxLayout="row" fxLayoutGap="5%" style="padding: 2%;border-bottom: 0.5px solid rgb(88, 88, 88);">

        <img src="../{{canceledTrip.picture_path}}" alt="picture" height="70px" width="70px"
            style="border-radius: 50%;">
        <h3 >{{canceledTrip.destination}} for
            {{canceledTrip.price}} € </h3>
            
        <h4 >{{canceledTrip.time | date}} in duration of
            {{canceledTrip.duration}} days</h4>
        <h4 > Status: <div style="color:red">{{canceledTrip.status}}</div></h4>
        <h4>Traveling by: {{canceledTrip.travel_type}}</h4>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15%">
            <mat-icon style="color:red;" (click)="deleteTripDialog()">cancel</mat-icon>
        </div>
    </div>
</section>
