#trip{
    border-radius: 2px;
    cursor: pointer;
}

#trip:hover{
    
    background-color: rgb(255, 223, 206);
    
}

#canceledTrips{

    padding: 2%;border-bottom: 0.5px solid rgb(88, 88, 88);

}

mat-icon:hover{
    cursor: pointer;
    transform: scale(1.2);
}