<section fxLayoutAlign="center center" fxLayoutGap="2%" style="margin-top: 1%;">

    <div class="container" fxLayout="row">
        
        <form id="filter" fxLayoutAlign="center center" fxLayout="column" lxLayoutGap="20px" #f="ngForm" (ngSubmit)="onSubmit(f)" fxHide.sm fxHide.xs>
            <h1>Filters</h1>

            <mat-form-field>
                <mat-label>Direction</mat-label>
                <input matInput name="title" ngModel name="direction" required>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Travel type</mat-label>
                <mat-select ngModel name="travel_type" #travel_type="ngModel" required>
                    <mat-option *ngFor='let travel of travels' [value]='travel.value'  required>{{travel.viewValue}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Price</mat-label>
                <mat-select ngModel name="price" #price="ngModel" required>
                    <mat-option *ngFor='let price of prices' [value]='price.value'  >{{price.viewValue1}} -
                        {{price.viewValue2}} €
                    </mat-option>
                </mat-select>
            </mat-form-field>
            
            <!-- <mat-form-field class="example-full-width" appearance="fill" >
                <mat-label>Choose a starting date</mat-label>
                <input matInput [matDatepicker]="picker" ngModel name="date" required>
                <mat-datepicker-toggle matSuffix [for]="picker">
                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            
        -->
        <button type="submit" mat-raised-button color="warn" [disabled]="f.invalid">Submit filters</button>
        <button mat-raised-button type="reset" (click)="putOnPreviousState()" color="accent" style="margin-top:3%;">Clear</button>
        </form>
        <div id="trips_list" fxLayout="column">

            <div id="fast-search" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1%" style="margin:2%">
                <i class="fa fa-search icon"></i>
                <input class="filterDestination" type="text" placeholder="Look out for your destination"
                     ngModel #fastSearchParametar="ngModel"  (keyup)="fastSearch(fastSearchParametar)">
            </div>
            <div id="list"  fxLayoutAlign="center start">

                <mat-card *ngFor="let travel of travelsObject" >
                    <mat-card-header fxLayoutAlign="start start">
                        <mat-card-title >{{travel.destination.substring(0,15)}}</mat-card-title>
                        <mat-card-subtitle >{{travel.time | date}}</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="{{travel.picture_path}}" alt="Photo">
                    <mat-card-content>
                        <h2 >
                            Hot price of {{travel.price }} €
                        </h2>
                        <p >
                            {{travel.description.substring(0,100)}}...
                        </p>
                    </mat-card-content>
                    <mat-card-actions fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5%">
                        <button [disabled]="!userStatus" mat-raised-button (click)="openReservationDialog(travel.id)" color="warn">Add to card</button>
                      
                    </mat-card-actions>
                </mat-card>


            </div>

        </div>


    </div>
    <p fxHide.xs class="tripsTitle">Trips</p>

</section>