<section fxLayoutAlign="center center" fxLayoutGap="2%" style="margin-top: 1%;">

    <div fxLayout="row"
        style="padding:10px;background-color: #ffffff; opacity:0.8; border-radius: 5px; height: 80vh; width: 80%; font-size: 10pt;">

        <form id="filter" fxLayoutAlign="center center" fxLayout="column" lxLayoutGap="20px">
            <h1>Filters</h1>

            <mat-form-field>
                <mat-label>Direction</mat-label>
                <input matInput name="title">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Travel type</mat-label>
                <mat-select>
                    <mat-option *ngFor='let travel of travels' [value]='travel.value'>{{travel.viewValue}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Price</mat-label>
                <mat-select>
                    <mat-option *ngFor='let price of prices' [value]='price.value'>{{price.viewValue1}} -
                        {{price.viewValue2}} €
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Choose a starting date</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker">
                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <button type="submit" mat-raised-button color="warn"> Submit filters</button>


        </form>
        <div id="trips_list" fxLayout="column">

            <div id="fast-search" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1%" style="margin:5%">
                <i class="fa fa-search icon"></i>
                <input type="text" placeholder="Look out for your destination"
                    style="width:40%;height:70%;border-radius:5px;font-size:16pt;">
            </div>
            <div id="list" style="display: flex;flex-wrap: wrap; flex-direction: row;"
                fxLayoutAlign="center start">



                <mat-card class="example-card" fxFlex="20%" style="margin:15px;">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>{{this.TravelData.currentTravel.destination}}</mat-card-title>
                        <mat-card-subtitle>{{this.TravelData.currentTravel.time | date}}</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="{{this.TravelData.currentTravel.picture_path}}" alt="Photo">
                    <mat-card-content>
                        <h2>
                            Hot price of {{this.TravelData.currentTravel.price }} €
                        </h2>
                        <p>
                            {{this.TravelData.currentTravel.description.substring(0,50)}}...
                        </p>
                    </mat-card-content>
                    <mat-card-actions fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5%">
                        <button mat-raised-button (click)="addToCardDialog()" color="warn">Add to card</button>
                    </mat-card-actions>
                </mat-card>
                <mat-card class="example-card" fxFlex="20%" style="margin:15px;">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>{{this.TravelData.currentTravel.destination}}</mat-card-title>
                        <mat-card-subtitle>{{this.TravelData.currentTravel.time | date}}</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="{{this.TravelData.currentTravel.picture_path}}" alt="Photo">
                    <mat-card-content>
                        <h2>
                            Hot price of {{this.TravelData.currentTravel.price }} €
                        </h2>
                        <p>
                            {{this.TravelData.currentTravel.description.substring(0,50)}}...
                        </p>
                    </mat-card-content>
                    <mat-card-actions fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5%">
                        <button mat-raised-button (click)="addToCardDialog()" color="warn">Add to card</button>
                    </mat-card-actions>
                </mat-card>
                <mat-card class="example-card" fxFlex="20%" style="margin:15px;">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>{{this.TravelData.currentTravel.destination}}</mat-card-title>
                        <mat-card-subtitle>{{this.TravelData.currentTravel.time | date}}</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="{{this.TravelData.currentTravel.picture_path}}" alt="Photo">
                    <mat-card-content>
                        <h2>
                            Hot price of {{this.TravelData.currentTravel.price }} €
                        </h2>
                        <p>
                            {{this.TravelData.currentTravel.description.substring(0,50)}}...
                        </p>
                    </mat-card-content>
                    <mat-card-actions fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5%">
                        <button mat-raised-button (click)="addToCardDialog()" color="warn">Add to card</button>
                    </mat-card-actions>
                </mat-card>
                <mat-card class="example-card" fxFlex="20%" style="margin:15px;">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>{{this.TravelData.currentTravel.destination}}</mat-card-title>
                        <mat-card-subtitle>{{this.TravelData.currentTravel.time | date}}</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="{{this.TravelData.currentTravel.picture_path}}" alt="Photo">
                    <mat-card-content>
                        <h2>
                            Hot price of {{this.TravelData.currentTravel.price }} €
                        </h2>
                        <p>
                            {{this.TravelData.currentTravel.description.substring(0,50)}}...
                        </p>
                    </mat-card-content>
                    <mat-card-actions fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5%">
                        <button mat-raised-button (click)="addToCardDialog()" color="warn">Add to card</button>
                    </mat-card-actions>
                </mat-card>
                <mat-card class="example-card" fxFlex="20%" style="margin:15px;">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>{{this.TravelData.currentTravel.destination}}</mat-card-title>
                        <mat-card-subtitle>{{this.TravelData.currentTravel.time | date}}</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="{{this.TravelData.currentTravel.picture_path}}" alt="Photo">
                    <mat-card-content>
                        <h2>
                            Hot price of {{this.TravelData.currentTravel.price }} €
                        </h2>
                        <p>
                            {{this.TravelData.currentTravel.description.substring(0,50)}}...
                        </p>
                    </mat-card-content>
                    <mat-card-actions fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5%">
                        <button mat-raised-button (click)="addToCardDialog()" color="warn">Add to card</button>
                    </mat-card-actions>
                </mat-card>
                <mat-card class="example-card" fxFlex="20%" style="margin:15px;">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>{{this.TravelData.currentTravel.destination}}</mat-card-title>
                        <mat-card-subtitle>{{this.TravelData.currentTravel.time | date}}</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="{{this.TravelData.currentTravel.picture_path}}" alt="Photo">
                    <mat-card-content>
                        <h2>
                            Hot price of {{this.TravelData.currentTravel.price }} €
                        </h2>
                        <p>
                            {{this.TravelData.currentTravel.description.substring(0,50)}}...
                        </p>
                    </mat-card-content>
                    <mat-card-actions fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5%">
                        <button mat-raised-button (click)="addToCardDialog()" color="warn">Add to card</button>
                    </mat-card-actions>
                </mat-card>
                
                

            </div>

        </div>


    </div>
    <p style="font-size: 50pt; color: #ffffff; font-family: 'Dancing Script', cursive;">Trips</p>

</section>