<h1  fxLayoutAlign="center center">My trip basket</h1>

<section style="padding: 1%;">

    <div id="trip" fxLayout="row" fxLayoutGap="5%" style="padding: 2%;border-bottom: 0.5px solid rgb(88, 88, 88);">

        <img src="../{{tripsTravel.currentTravel.picture_path}}" alt="picture" height="70px" width="70px"
            style="border-radius: 50%;">
        <h3 >{{tripsTravel.currentTravel.destination}} for
            {{tripsTravel.currentTravel.price}} € </h3>
        <h4 >{{tripsTravel.currentTravel.time | date}} in duration of
            {{tripsTravel.currentTravel.duration}} days</h4>
        <h4>Traveling by: {{tripsTravel.currentTravel.travel_type}}</h4>
        <div  fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15%">
            <mat-icon style="color:green; "> check_circle</mat-icon>
            <mat-icon style="color:red;">cancel</mat-icon>
        </div>

    </div>
    <div id="trip" fxLayout="row" fxLayoutGap="5%" style="padding: 2%;border-bottom: 0.5px solid rgb(88, 88, 88);">

        <img src="../{{tripsTravel.currentTravel.picture_path}}" alt="picture" height="70px" width="70px"
            style="border-radius: 50%;">
        <h3 >{{tripsTravel.currentTravel.destination}} for
            {{tripsTravel.currentTravel.price}} € </h3>
        <h4 >{{tripsTravel.currentTravel.time | date}} in duration of
            {{tripsTravel.currentTravel.duration}} days</h4>
        <h4>Traveling by: {{tripsTravel.currentTravel.travel_type}}</h4>
        <div  fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15%">
            <mat-icon style="color:green; "> check_circle</mat-icon>
            <mat-icon style="color:red;">cancel</mat-icon>
        </div>

    </div>
    <div id="trip" fxLayout="row" fxLayoutGap="5%" style="padding: 2%;border-bottom: 0.5px solid rgb(88, 88, 88);">

        <img src="../{{tripsTravel.currentTravel.picture_path}}" alt="picture" height="70px" width="70px"
            style="border-radius: 50%;">
        <h3 >{{tripsTravel.currentTravel.destination}} for
            {{tripsTravel.currentTravel.price}} € </h3>
        <h4 >{{tripsTravel.currentTravel.time | date}} in duration of
            {{tripsTravel.currentTravel.duration}} days</h4>
        <h4>Traveling by: {{tripsTravel.currentTravel.travel_type}}</h4>
        <div  fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15%">
            <mat-icon style="color:green; "> check_circle</mat-icon>
            <mat-icon style="color:red;">cancel</mat-icon>
        </div>

    </div>
    <div id="trip" fxLayout="row" fxLayoutGap="5%" style="padding: 2%;border-bottom: 0.5px solid rgb(88, 88, 88);">

        <img src="../{{tripsTravel.currentTravel.picture_path}}" alt="picture" height="70px" width="70px"
            style="border-radius: 50%;">
        <h3 >{{tripsTravel.currentTravel.destination}} for
            {{tripsTravel.currentTravel.price}} € </h3>
        <h4 >{{tripsTravel.currentTravel.time | date}} in duration of
            {{tripsTravel.currentTravel.duration}} days</h4>
        <h4>Traveling by: {{tripsTravel.currentTravel.travel_type}}</h4>
        <div  fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15%">
            <mat-icon style="color:green; "> check_circle</mat-icon>
            <mat-icon style="color:red;">cancel</mat-icon>
        </div>

    </div>
    <div id="trip" fxLayout="row" fxLayoutGap="5%" style="padding: 2%;border-bottom: 0.5px solid rgb(88, 88, 88);">

        <img src="../{{tripsTravel.currentTravel.picture_path}}" alt="picture" height="70px" width="70px"
            style="border-radius: 50%;">
        <h3 >{{tripsTravel.currentTravel.destination}} for
            {{tripsTravel.currentTravel.price}} € </h3>
        <h4 >{{tripsTravel.currentTravel.time | date}} in duration of
            {{tripsTravel.currentTravel.duration}} days</h4>
        <h4>Traveling by: {{tripsTravel.currentTravel.travel_type}}</h4>
        <div  fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15%">
            <mat-icon style="color:green; "> check_circle</mat-icon>
            <mat-icon style="color:red;">cancel</mat-icon>
        </div>

    </div>
    <div id="trip" fxLayout="row" fxLayoutGap="5%" style="padding: 2%;border-bottom: 0.5px solid rgb(88, 88, 88);">

        <img src="../{{tripsTravel.currentTravel.picture_path}}" alt="picture" height="70px" width="70px"
            style="border-radius: 50%;">
        <h3 >{{tripsTravel.currentTravel.destination}} for
            {{tripsTravel.currentTravel.price}} € </h3>
        <h4 >{{tripsTravel.currentTravel.time | date}} in duration of
            {{tripsTravel.currentTravel.duration}} days</h4>
        <h4>Traveling by: {{tripsTravel.currentTravel.travel_type}}</h4>
        <div  fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15%">
            <mat-icon style="color:green; "> check_circle</mat-icon>
            <mat-icon style="color:red;">cancel</mat-icon>
        </div>

    </div>
    <div id="trip" fxLayout="row" fxLayoutGap="5%" style="padding: 2%;border-bottom: 0.5px solid rgb(88, 88, 88);">

        <img src="../{{tripsTravel.currentTravel.picture_path}}" alt="picture" height="70px" width="70px"
            style="border-radius: 50%;">
        <h3 >{{tripsTravel.currentTravel.destination}} for
            {{tripsTravel.currentTravel.price}} € </h3>
        <h4 >{{tripsTravel.currentTravel.time | date}} in duration of
            {{tripsTravel.currentTravel.duration}} days</h4>
        <h4>Traveling by: {{tripsTravel.currentTravel.travel_type}}</h4>
        <div  fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15%">
            <mat-icon style="color:green; "> check_circle</mat-icon>
            <mat-icon style="color:red;">cancel</mat-icon>
        </div>

    </div>
    <div id="trip" fxLayout="row" fxLayoutGap="5%" style="padding: 2%;border-bottom: 0.5px solid rgb(88, 88, 88);">

        <img src="../{{tripsTravel.currentTravel.picture_path}}" alt="picture" height="70px" width="70px"
            style="border-radius: 50%;">
        <h3 >{{tripsTravel.currentTravel.destination}} for
            {{tripsTravel.currentTravel.price}} € </h3>
        <h4 >{{tripsTravel.currentTravel.time | date}} in duration of
            {{tripsTravel.currentTravel.duration}} days</h4>
        <h4>Traveling by: {{tripsTravel.currentTravel.travel_type}}</h4>
        <div  fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15%">
            <mat-icon style="color:green; "> check_circle</mat-icon>
            <mat-icon style="color:red;">cancel</mat-icon>
        </div>

    </div>
    
    
   








</section>