<h1 fxLayoutAlign="center center">My trip basket</h1>

<section style="padding: 1%;">
    <div id="tripSum" fxLayout="row" fxLayoutGap="5%" >

        <h1 fxLayoutAlign="center center">Total value : {{sumOfActiveTrips}}.00 €</h1>

    </div>
    <div *ngFor="let activeTrip of activeTrips" id="trip" fxLayout="row" fxLayoutGap="5%" >

        <img src="../{{activeTrip.travels.picture_path}}" alt="picture" height="70px" width="70px"
            style="border-radius: 50%;">
        <h3>{{activeTrip.travels.destination}} for
            {{activeTrip.travels.price}} € </h3>

        <h4>{{activeTrip.travels.time.getDate }} in duration of
            {{activeTrip.travels.duration}} days</h4>
        <h4 fxHide.xs  fxHide.sm  fxHide.md> Status: <div style="color:green">{{activeTrip.status}}</div>
        </h4>
        <h4 fxHide.xs  fxHide.sm  fxHide.md>Traveling by: {{activeTrip.travels.travel_type}}</h4>

        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15%">
            <mat-icon style="color:green;" (click)="openPaymentDialog(activeTrip.id)"> check_circle</mat-icon>
            <mat-icon style="color:red;"(click)="cancelTripDialog(activeTrip.id)">cancel</mat-icon>
        </div>

    </div>
  
</section>