#trip{
    border-radius: 2px;
    cursor: pointer;
    padding: 2%;
    border-bottom: 0.5px solid rgb(88, 88, 88);
}

#tripSum{
    border-radius: 2px;
    cursor: pointer;
    padding: 2%;
    border-bottom: 0.5px solid rgb(88, 88, 88);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    border-radius: 2px;
    margin-bottom:2%;
    background-color: rgb(63, 81, 181);
    color: white;

}

#trip:hover{
    
    background-color: rgb(255, 223, 206);
    
}

mat-icon:hover{
    cursor: pointer;
    transform: scale(1.2);
}